
<div class="form__wrapper">
  <h6>3.Внести деньги в течении 2-3 дней на счет ЭСКРОУ</h6>
  <table class="form__table">
    <tbody>
      <tr>
        <td class="form__table-title">Собственные средства (100%)</td>
        <td>
          <div class="custom-control custom-checkbox">
            <label class="custom-control-label table__label" for="form__money-1">Собственные средства (100%)</label>
            <input class="custom-control-input" id="form__money-1" type="checkbox"/>
          </div>
        </td>
      </tr>
      <tr>
        <td class="form__table-title">Ипотека</td>
        <td>
          <div class="custom-control custom-checkbox">
            <label class="custom-control-label table__label" for="form__money-2">Ипотека</label>
            <input class="custom-control-input" id="form__money-2" type="checkbox"/>
          </div>
        </td>
      </tr>
      <tr>
        <td class="form__table-title">После продажи имеющейся недвижимости</td>
        <td>
          <div class="custom-control custom-checkbox">
            <label class="custom-control-label table__label" for="form__money-3">После продажи имеющейся недвижимости</label>
            <input class="custom-control-input" id="form__money-3" type="checkbox"/>
          </div>
        </td>
      </tr>
      <tr>
        <td class="form__table-title">После закрытия депозита</td>
        <td>
          <div class="custom-control custom-checkbox">
            <label class="custom-control-label table__label" for="form__money-4">После закрытия депозита</label>
            <input class="custom-control-input" id="form__money-4" type="checkbox"/>
          </div>
        </td>
      </tr>
      <tr>
        <td class="form__table-title">Иное</td>
        <td>
          <div class="custom-control custom-checkbox">
            <label class="custom-control-label table__label" for="form__money-5">Иное</label>
            <input class="custom-control-input" id="form__money-5" type="checkbox"/>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>