
<div class="form__wrapper">
  <h6>4.Какими средствами Вы располагаете для приобретения квартиры?</h6>
  <table class="form__table">
    <tbody>
      <tr>
        <td>
          <input class="range" type="range" min="4.56" max="10" value="4.56" step="0.01" onmousemove="rangevalue1.value=value" ontouchmove="rangevalue1.value=value"/>
        </td>
        <td>
          <output class="output__range" id="rangevalue1">4,56</output>
        </td>
        <td>
          <p class="line__number">7</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Минимальная стоимость - 4,56 млн.руб</p>
        </td>
        <td>
          <p>млн.руб</p>
        </td>
        <td>
          <p>Ваше место в листе ожидания</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>