
<div class="form__wrapper">
  <h6>5.Ваши контактные данные?</h6>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <input class="form-control" id="validationServer01" type="text" placeholder="Как к Вам обращаться?" required="required"/>
    </div>
    <div class="col-md-4 mb-3">
      <input class="form-control" id="validationServer02" type="email" placeholder="E-Mail" required="required"/>
    </div>
    <div class="col-md-4 mb-3">
      <input class="form-control" id="example-tel-input" type="tel" placeholder="Телефон" required="required"/>
    </div>
  </div>
</div>