/*============ REFERENCES =============*/

/**  1./.header                           **/
/**	 2.Promo                          **/
/**	 3.Header styles                  **/
/**	 4.Menu styles                    **/
/**	 5.Index projects styles          **/
/**  6.Index footer styles            **/
/**  7.Cookie styles                  **/
/**  8.Page Contacts styles           **/
/**  9.Instagram Section styles       **/
/**  10.Main footer styles            **/
/**  11.Interiors styles              **/
/**    ^- 11.1Interiors Grid Styles   **/
/**  12.Object-Single styles          **/
/**  13.About Styles                  **/
/**  14.Team Styles                   **/
/**  15.Team Single Styles            **/
/**  16.News Grid Styles              **/
/**  17.News List Styles              **/
/**  18.News Single Styles            **/



@import 'mixins'

/** Colors **/

$white: #FFFFFF
$green: #00A650


/** Fonts **/

@font-face
  font-family: 'GothamPro'
  src: url('../fonts/GothamPro.ttf')
  font-weight: normal
  font-style: normal

$f_GothamPro: 'GothamPro', 'Arial', sans-serif

@font-face
  font-family: 'GothamBold'
  src: url('../fonts/GothamBold.ttf')
  font-weight: normal
  font-style: normal

$f_GothamBold: 'GothamBold', 'Arial', sans-serif

@font-face
  font-family: 'Magistral'
  src: url('../fonts/Magistral.ttf')
  font-weight: normal
  font-style: normal

$f_Magistral: 'Magistral', 'Arial', sans-serif

@font-face
  font-family: 'Magistral-Bold'
  src: url('../fonts/Magistral-Bold.ttf')
  font-weight: normal
  font-style: normal

$f_Magistral-Bold: 'Magistral-Bold', 'Arial', sans-serif

.container
  @include media(1440px)
    margin: 0 auto
    width: 100%
    max-width: 900px
  @include media(1920px)
    margin: 0 auto
    width: 100%
    max-width: 1200px

html, body
   padding: 0
   margin: 0

h1,h2,h3,h4,h5,h6
  margin: 0
  padding: 0


.header
  padding: 20px 0
  width: 100%
  background: url(../img/bck.svg) center no-repeat
  background-size: cover

  &__logo
    display: flex
    justify-content: center

  &__title h1
    font-size: px-to-rem(28px)
    line-height: px-to-rem(43.2px)
    letter-spacing: 3px
    font-style: italic
    font-weight: 500
    font-family: $f_Magistral-Bold
    text-align: center
    color: $white

  &__subtitle
    text-align: center
    line-height: px-to-rem(20px)
    color: $white

  &__block-title
    font-family: $f_GothamBold
    font-weight: 800
    font-size: px-to-rem(56px)
    color: $green

/* /.header */

.stat
  background: url(../img/chart.svg) center no-repeat
  background-size: cover
  &__title
    font-size: px-to-rem(56px)
    line-height: px-to-rem(53.59px)
    font-weight: 600
    font-family: $f_GothamBold
    color: $green
    text-align: center
  &__desc
    text-align: center


.about
  &__title
    font-size: px-to-rem(24px)
    line-height: px-to-rem(35.38px)
    text-align: center
    color: $green

  &__item-title
    font-size: px-to-rem(24px)
    line-height: px-to-rem(35.38px)
    color: $green
  &__image
    width: 100%

/* /.about*/


.stages
  &__title
    font-size: px-to-rem(24px)
    line-height: px-to-rem(35.38px)
    color: $green
    text-align: center

/* /.stages*/

.channels
  &__title
    font-size: px-to-rem(24px)
    line-height: px-to-rem(35.38px)
    color: $green
    text-align: center


/* /.channels */


.support
  &__title
    font-size: px-to-rem(24px)
    line-height: px-to-rem(35.38px)
    color: $green
    text-align: center

/* /.support */

.team
  &__title
    font-size: px-to-rem(24px)
    line-height: px-to-rem(35.38px)
    color: $green
    text-align: center

/* /.team */

.context
  &__title
    font-size: px-to-rem(24px)
    line-height: px-to-rem(35.38px)
    color: $green
    text-align: center

/* /.context */


.results
  &__title
    font-size: px-to-rem(24px)
    line-height: px-to-rem(35.38px)
    color: $green
    text-align: center

/* /.results */

.target
  &__title
    font-size: px-to-rem(24px)
    line-height: px-to-rem(35.38px)
    color: $green
    text-align: center

/* /.target */

.seo
  &__title
    font-size: px-to-rem(24px)
    line-height: px-to-rem(35.38px)
    color: $green
    text-align: center

/* /.seo */

.thanks
  &__title
    font-size: px-to-rem(24px)
    line-height: px-to-rem(35.38px)
    color: $green
    text-align: center

/* /.thanks */