header.header
    .container
        .header__container
            .header__logo.logo
                img.logo__img(src="img/logo.svg" alt="logo")
            |
            |
            <!-- /.header__logo -->
            .header__content
                .header__title
                    h1 МЕЛЬИНВЕСТ
                |
                |
                <!-- /.header__title -->
                .header__subtitle
                    p Создание сайта и комплекстное продвижение для АО «Мельинвест»
                |
                |
                <!-- /.header__subtitle -->
            |
            |
            <!-- /.header__content -->
        |
        |
        <!-- /.header__container -->
    |
    |
    <!-- /.container -->